.root
  padding 2u
  background-color #1BA0CC
  height 50px

.headerBlock
  flex-direction row
  justify-content space-between
  align-items center

.heading
  font-size 2u
  font-weight 700

.imageContainer
  flex-direction row
  justify-content space-around

.iconBlock
  width 4u
  &.lastEl
    width 2u

.icon
  width 3u
  height 3u