.root
  margin-top 2u

.title
  text-align center
  font-size 2u
  font-weight 700

.gamesBlock
  margin-top 2u
  width 300px
  max-height 200px
  align-items center
  radius()

.noGameBlock
  margin-top 2u

.blockText
  color #D49E33
  font-weight 700

.item
  background-color #DBDBDB
  align-items center
  flex-direction row
  border 1px solid white
  justify-content center
  width 90%
  padding 1u
  margin 1u
  radius()

.gameName
  text-align justify
  font-size 2u
  font-weight 700

.roomInfo
  @extends .gameName
  padding-left 1u
  color red

.deleteItemBlock
  position absolute
  right 1u

.deleteImage
  width 2u
  height 2u