.root
  padding 2u

.info
  text-align center
  font-size 2u
  font-weight 500

.row
  flex-direction row
  margin-top 2u

.inputField
  flex 1
  margin 0.5u

.buttonContainer
  align-items center
  margin-top 2u
  flex-direction row

.setButton
  flex 1
  margin 0.5u