.root
  padding 2u

.infoBlock
  align-items center

.error
  color red

.heading
  font-size 20px
  color red
  font-weight 500

.info
  font-weight 500

.info
  margin-top 1u
  text-align justify

.buttonBlock
  flex-direction row
  justify-content space-around
  margin-top 3u

.controlButton
  width 180px

.inputField
  margin-top 1u