.root
  height 100%
  padding 2u
  align-items center

.buttonBlock
  margin-top 1u

.container
  justify-content center
  align-items center

.buttonBlock
  width 300px
  height 50px
  background-color #1BA0CC
  justify-content center
  radius()

.buttonName
  text-align center
  font-size 2u
  font-weight 700

.statisticUsersBlock
  margin-top 2u
  width 300px
  align-items center

.title
  text-align center
  font-size 2u
  font-weight 700

.item
  align-items center
  flex-direction row
  background-color #DBDBDB
  width 300px
  height 50px
  margin 1u
  justify-content space-between
  padding 1u
  radius()

.playerName
  font-weight 700

.playerScores
  @extends .playerName
  color #D49E33


