.root
  border 1px solid gray
  padding 1u
  radius()

.title
  text-align center
  font-weight 700
  font-size 3u

.container
  margin-top 2u

.statisticContainer
  padding 0.5u
  margin-top 1u
  flex-direction row
  justify-content space-between
  text-align justify
  background-color #DBDBDB
  radius()

.text
  width 7u
  text-align justify