.root
  padding 2u
  height 660px

.userActivesBlock
  flex-direction row
  justify-content center

.lable
  font-size 20px
  font-weight 500

.info
  @extends .lable
  margin-left 1u

.wait
  text-align center
  margin-top 1u
  font-weight 300
  font-size 16px
  color #D49E33

.winnerBlock
  top 27u
  position absolute
  flex-direction row

.userWinnerBlock
  @extends .winnerBlock
  top 10u

.opponentBlock
  flex-direction row
  justify-content center

.buttonContainer
  margin-top 2u
  flex-direction row

.creatorButton
  flex 1
  margin 0.5u

.controlBlock
  align-items center
  justify-content center
  height 100px

.controlButtonBlock
  flex-direction: row

.btn
  flex 1
  margin 0.5u

.round
  font-size 50px
  font-weight 700

.number
  margin-top 4u
  font-size 30px
  font-weight 700
  color red

.endGameButton
  margin-top 2u

.waitingForPlayersBlock
  align-items center

.warningText
  font-size 2u
  margin-bottom 2u
  color #D49E33

.itemsBlock
  flex-direction row
  justify-content space-around
  align-items flex-end
  margin-top 13u

.winnerTitle
  font-size 2u
  font-weight 500px

.winnerText
  @extends .winnerTitle
  color red
  margin-left 1u

.throwInTheTowelBlock
  flex-direction row

.statisticBlock
  height 300px
  margin 5u 0

.throwInTheTowelButton
  flex 1
  margin 0.5u

.icon
  width 5u
  height 5u